body{
  height: 100%;
  background-image: url("svg/Web-Header-Background.svg");
}
h1 {
  padding-top: 20px;
  text-align: center;
  color:black;
  font-size: 50px;
  font-family: fantasy;
}
h4 {text-align: center;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {text-align: center;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-container
{
  width: 540px;
  height: auto;
  padding: 15px 35px;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: 0 0 100px 0 rgb(248, 63, 63);
  margin: auto;
  position: -webkit-sticky;
  margin-top: 100px;
}
  /* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Set a style for all buttons */
button {
  background-color: #ff0f0f;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}


@media screen and (max-width: 640px){
.form-container
{
  width: 340px;
  height: auto;
}
}
